{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block body %}
 
    <div class="container">
        <h2>Add a ToDo</h2>
        <form action="/" method="POST">
            <div class="mb-3">
              <label for="title" class="form-label">ToDo Title</label>
              <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
             
            </div>
            <div class="mb-3">
              <label for="desc" class="form-label">TODo Description</label>
              <input type="text" class="form-control" name="desc" id="desc">
            </div>
            
            <button type="submit" class="btn btn-dark">Submit</button>
          </form>
    </div>

    <div class="container my-3">
        <h2>Your ToDo</h2>
        
              {% if allToDo|length==0 %}
              <div class="alert alert-dark" role="alert">
               No Todos found. Add your first Todo now!
              </div>
                {% else %}
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">SrNo</th>
                      <th scope="col">Title</th>
                      <th scope="col">Description</th>
                      <th scope="col">Time</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>  
              
              {% for todo  in allToDo %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{todo.title}}</td>
                <td>{{todo.desc}}</td>
                <td>{{todo.date_created}}</td>
                <td>
                  <a href="/delete/{{todo.srno}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Delete</button>
                  <a href="/update/{{todo.srno}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Update</button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

         
          {% endif %}
                  
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    -->
{% endblock body %}